/* Container */
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #3f0a0a34;
  color: #fff;
  position: sticky;
  z-index: 999;
  top: 0;
}

/* Logo */
.nav-logo, #nav-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(132, 186, 132);
}
#nav-logo:hover {
  color: rgb(247, 69, 5);
  transition: 0.3s;
}

/* Desktop Menu */
.nav-ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-li a {
  text-decoration: none;
  color: red;
  font-size: 18px;
}

.nav-li a:hover {
  color: rgb(121, 205, 121);
  transition: 0.3s;
}

/* Hamburger Icon (Hidden on Desktop) */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
}

/* ------------------------
   Mobile Responsive Styles
------------------------- */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-ul {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    background-color: rgb(44, 23, 23);
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: right 0.35s ease-in-out;
    z-index: 999;
  }

  .nav-ul.open {
    right: 0;   /* slides in */
  }
}

/*makes the x ixon remove the side menu when clicked*/
.close-btn, .close-icon {
  position: relative;
  z-index: 10000; /* force it above the menu */
  pointer-events: auto;
  cursor: pointer;
}
