body{

    height:100vh;
    background-color:#000;

}
.card-container{
  display:flex;
  margin:20px;
  flex-wrap: wrap;
  margin-left:50px;
  gap:50px;
}
.languages{
margin-top:50px;
  text-align: center;
  font-family: 'Share Tech Mono', 'VT323', monospace;
  color:red;
}

.project-card {
  width: 350px;
  background: #111;
  color: red;
  padding: 18px;
  border-radius: 12px;
  border: 1px solid #222;
  font-family: 'Share Tech Mono', 'VT323', monospace;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 10px 10px 10px  rgba(0, 255, 180, 0.25);
}

.project-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
  height:50px;
}

.project-title {
  margin: 5px 0;
  font-size: 20px;
  color:#9aff9a;
  text-align: center;
  font-weight: 600;
}

.project-desc {
  font-size: 14px;
  margin-bottom: 10px;
  opacity: 0.8;
}

.tech-stack span {
  font-size: 12px;
  margin-right: 8px;
  background: #1c1c1c;
  padding: 4px 8px;
  border-radius: 6px;
}


