*{
      box-sizing: border-box;
      padding:0px;
      margin:0px;}
body{
      height:100vh;
             
             overflow-y: auto;
             color:white;
             scroll-behavior: smooth;}